:host {
    display: block;
}

.container {
    width: 90px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);

    &.selected {
        border: 2px solid var(--accent-color);
    }
}
