:host {
    display: block;
    height: 100%;
}

.rule-container {
    height: 36px;
    background-color: var(--bg-background);

    &.even {
        background-color: var(--bg-card);
    }

    .rule-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        height: 100%;

        width: 80vw;
        max-width: 900px;
        min-width: 400px;

        .index {
            margin-left: 40px;
            width: 40px;
            color: var(--fg-hint-text);
        }

        .payload {
            margin-right: auto;
            font-size: 19px;
            font-family: Roboto Mono, Menlo, monospace;
        }

        .type {
            font-size: 12px;
            opacity: .8;
        }

        .proxy {
            font-size: 12px;
            opacity: .8;
        }
    }
}
