<cm-header title="rules">
    <cm-filter (change)="list.update_target($event)" style="margin-left: auto;"></cm-filter>
</cm-header>

<mat-divider></mat-divider>

<cdk-virtual-scroll-viewport itemSize="80" style="height: calc(100% - 77px); box-sizing: border-box;">
    <div *cdkVirtualFor="let rule of list.filtered; index as i" class="rule-container">
        <div class="index">{{ i }}</div>
        <div class="detail">
            <div class="payload">{{ rule.payload }}</div>
            <div class="rule">
                <div class="type">{{ rule.type }}</div>
                <div [style.color]="rule.color" class="rule-proxy">{{ rule.proxy }}</div>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>
