<cm-body>
    <cm-header title="connections">
        <div style="padding: 10px 40px; display: flex; justify-content: flex-start; align-items: center; gap: 20px;">
            <button (click)="table = 'active'" [color]="table === 'active' ? 'primary' : undefined" mat-raised-button value="active">
                {{ 'active' | translate }} ({{ connections.connections.origin.length }})
            </button>
            <button (click)="table = 'closed'" [color]="table === 'closed' ? 'primary' : undefined" mat-raised-button value="closed">
                {{ 'closed' | translate }} ({{ connections.connection_history.origin.length }})
            </button>
        </div>
        <cm-filter (change)="connections.filter($event)" style="margin-left: auto;"></cm-filter>
    </cm-header>

    <div class="main-area">
        <table *ngIf="connections.connections.origin.length" [dataSource]="table === 'active' ? connections.connections.filtered : connections.connection_history.filtered" mat-table
               style="width: 100%;">
            <ng-container matColumnDef="host">
                <th *matHeaderCellDef mat-header-cell> Host</th>
                <td *matCellDef="let element" mat-cell> {{ element.host }} </td>
            </ng-container>

            <ng-container matColumnDef="dl">
                <th *matHeaderCellDef mat-header-cell> DL</th>
                <td *matCellDef="let element" mat-cell> {{ element.pretty_download }} </td>
            </ng-container>

            <ng-container matColumnDef="ul">
                <th *matHeaderCellDef mat-header-cell> UL</th>
                <td *matCellDef="let element" mat-cell> {{ element.pretty_upload }} </td>
            </ng-container>

            <ng-container matColumnDef="chains">
                <th *matHeaderCellDef mat-header-cell> Chains</th>
                <td *matCellDef="let element" mat-cell> {{ element.chains }} </td>
            </ng-container>

            <ng-container matColumnDef="rule">
                <th *matHeaderCellDef mat-header-cell> Rule</th>
                <td *matCellDef="let element" mat-cell> {{ element.rule }} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th *matHeaderCellDef mat-header-cell> Time</th>
                <td *matCellDef="let element" mat-cell> {{ seconds_to_str(element.start) }} </td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th *matHeaderCellDef mat-header-cell> Source</th>
                <td *matCellDef="let element" mat-cell> {{ element.source }} </td>
            </ng-container>

            <ng-container matColumnDef="ip">
                <th *matHeaderCellDef mat-header-cell> Destination IP</th>
                <td *matCellDef="let element" mat-cell> {{ element.destinationIP }} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell> Type</th>
                <td *matCellDef="let element" mat-cell> {{ element.type }} </td>
            </ng-container>

            <tr *matHeaderRowDef="['host', 'dl', 'ul', 'chains', 'rule', 'time', 'source', 'ip', 'type' ]" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['host', 'dl', 'ul', 'chains', 'rule', 'time', 'source', 'ip', 'type' ];" mat-row></tr>
        </table>
    </div>
</cm-body>
