<div mat-dialog-title>{{ 'backend.switch' | translate }}</div>
<div mat-dialog-content>
    <mat-error *ngIf="connect_result">
        {{ connect_result }}{{ form.status }}
    </mat-error>
    <mat-hint *ngIf="!connect_result && form.controls.url.errors">
        {{ form.controls.url.errors['msg'] }}
    </mat-hint>
    <form [formGroup]="form" action="">
        <mat-form-field appearance="standard" style="width: 70%">
            <mat-label>{{ 'backend.url' | translate }}</mat-label>
            <input formControlName="url" matInput>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 20%; margin-left: 10px;">
            <mat-label>{{ 'backend.secret' | translate }}</mat-label>
            <input formControlName="secret" matInput>
        </mat-form-field>
    </form>
</div>
<div [align]="'end'" mat-dialog-actions>
    <button (click)="ref.close()" mat-button>Close</button>
    <button (click)="check$.next(null)" [disabled]="form.status !== 'VALID'" color="primary" mat-raised-button>Add</button>
</div>
