.overview-area {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .traffic-area {
        width: 180px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .chart-area {
        margin-left: 20px;
        position: relative;
        flex-grow: 1;
        height: 440px;
    }
}


.connections-area {
    margin-top: 10px;
    border: 1px solid var(--fg-divider);
    border-radius: 10px;
    overflow: hidden;
}
