:host {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-card);
    width: 160px;
    border: 1px solid var(--fg-divider);
}

.name {
    font-size: 12px;
}

.data {
    font-size: 28px;
    padding: 10px 0;
}

