<div [attr.data-theme]="configs.theme" class="body">
    <mat-toolbar class="mat-elevation-z4 navbar header">
        <button class="menu-button main" mat-button routerLink="/overview">Clash Material</button>
        <button class="menu-button" mat-button routerLink="/proxies">{{ 'proxies' | translate }}</button>
        <button class="menu-button" mat-button routerLink="/rules">{{ 'rules' | translate }}</button>
        <button class="menu-button" mat-button routerLink="/logs">{{ 'logs' | translate }}</button>
        <div class="action">
            <button (click)="$switch_backend.next(null)" mat-button>{{ backend.backend.host }}</button>
            <button mat-button routerLink="/configs">{{ 'settings' | translate }}</button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <cm-float-action (blur)="test($event)"></cm-float-action>
</div>
