<div [attr.data-theme]="configs.theme" class="body">
    <mat-toolbar class="mat-elevation-z4 navbar header">

        <button class="menu-button main" mat-button routerLink="/overview">Clash Material</button>
        <button class="menu-button" mat-button routerLink="/proxies">{{ 'proxies' | translate }}</button>
        <button class="menu-button" mat-button routerLink="/rules">{{ 'rules' | translate }}</button>
        <button class="menu-button" mat-button routerLink="/connections">{{ 'connections' | translate }}</button>
        <button class="menu-button" mat-button routerLink="/logs">{{ 'logs' | translate }}</button>

        <div class="side-action">
            <button class="menu-button" mat-button>{{ backend.current.host }}</button>
            <button [matMenuTriggerFor]="language" aria-label="Change Language" mat-icon-button>
                <mat-icon>translate</mat-icon>
            </button>
            <button (click)="toggle_theme()" aria-label="Change Mode" mat-icon-button>
                <ng-container [ngSwitch]="configs.theme">
                    <mat-icon *ngSwitchCase="'dark'">light_mode</mat-icon>
                    <mat-icon *ngSwitchCase="'light'">dark_mode</mat-icon>
                    <mat-icon *ngSwitchDefault>error</mat-icon>
                </ng-container>
            </button>
            <button aria-label="Configuration" mat-icon-button routerLink="/configs">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #language="matMenu">
                <button (click)="configs.language = 'en'; translate.use('en')" mat-menu-item>English</button>
                <button (click)="configs.language = 'zh'; translate.use('zh')" mat-menu-item>中文</button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

