:host {
    display: block;
    cursor: pointer;
}

.header {

    .inner-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        max-width: 900px;
        min-width: 400px;
        gap: 5px;
        height: 60px;

        .title {
            font-size: 24px;
        }

        .type {
            font-size: 12px;
            margin-left: 5px;
            color: var(--fg-hint-text);
            margin-right: auto;
        }

        .count {
            span {
                line-height: 1;
            }

            margin-left: 5px;
            padding: 3px 6px;
            border-radius: 5px;
            background-color: var(--bg-disabled-button);
        }

        .switch {
            margin-left: 8px;
        }
    }
}

.anime-container {
    overflow: hidden;
    transition: height 200ms ease-out;
}

.proxies-expand {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 40px;


    .proxy {
        width: 184px;
        border-radius: 8px;
        padding: 8px;
        transition: transform .2s ease-in-out;
        cursor: pointer;
        margin: 3px;

        position: relative;
        overflow: hidden;
        outline: none;
        border: 1px solid var(--fg-divider);

        &:hover {
            background-color: var(--bg-hover);
        }

        &.active {
            background-color: var(--primary-background-color);
        }

        .name {
            font-size: 13px;
            color: var(--fg-secondary-text);
        }

        .line-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .type {
                font-size: 13px;
                color: var(--fg-hint-text);
            }

            .delay {
                margin-left: auto;
                font-size: 13px;
                color: var(--fg-hint-text);
            }
        }


    }
}

.expand-icon {
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.rotated {
    transform: rotate(180deg);
}

.collapse {

}


