@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$light-primary: mat.define-palette(mat.$deep-purple-palette);
$light-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$dark-primary: mat.define-palette(mat.$orange-palette);
$dark-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$clash-light-theme: mat.define-light-theme((color: (primary: $light-primary, accent: $light-accent, warn: $warn)));
$clash-dark-theme: mat.define-dark-theme((color: (primary: $dark-primary, accent: $dark-accent, warn: $warn)));

@function get-background($theme, $key) {
    $palette: map.get($theme, $key);
    @if map.get($theme, is-dark) {
        @return mat.get-color-from-palette($palette, darker);
    } @else {
        @return mat.get-color-from-palette($palette, lighter);
    }
}

@mixin list-colors($theme, $palette-key) {
    $palette: map.get($theme, $palette-key);
    @each $key, $color in $palette {
        --#{$palette-key}-#{$key}: #{mat.get-color-from-palette($palette, $key)};
    }
}

@mixin theme-colors($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $foreground: map.get($theme, foreground);
    $background: map.get($theme, background);
    --bg-status-bar: #{mat.get-color-from-palette($background, status-bar)};
    --bg-app-bar: #{mat.get-color-from-palette($background, app-bar)};
    --bg-background: #{mat.get-color-from-palette($background, background)};
    --bg-hover: #{mat.get-color-from-palette($background, hover)};
    --bg-card: #{mat.get-color-from-palette($background, card)};
    --bg-dialog: #{mat.get-color-from-palette($background, dialog)};
    --bg-disabled-button: #{mat.get-color-from-palette($background, disabled-button)};
    --bg-raised-button: #{mat.get-color-from-palette($background, raised-button)};
    --bg-focused-button: #{mat.get-color-from-palette($background, focused-button)};
    --bg-selected-button: #{mat.get-color-from-palette($background, selected-button)};
    --bg-selected-disabled-button: #{mat.get-color-from-palette($background, selected-disabled-button)};
    --bg-disabled-button-toggle: #{mat.get-color-from-palette($background, disabled-button-toggle)};
    --bg-unselected-chip: #{mat.get-color-from-palette($background, unselected-chip)};
    --bg-disabled-list-option: #{mat.get-color-from-palette($background, disabled-list-option)};
    --bg-tooltip: #{mat.get-color-from-palette($background, tooltip)};
    --fg-base: #{mat.get-color-from-palette($foreground, base)};
    --fg-divider: #{mat.get-color-from-palette($foreground, divider)};
    --fg-dividers: #{mat.get-color-from-palette($foreground, dividers)};
    --fg-disabled: #{mat.get-color-from-palette($foreground, disabled)};
    --fg-disabled-button: #{mat.get-color-from-palette($foreground, disabled-button)};
    --fg-disabled-text: #{mat.get-color-from-palette($foreground, disabled-text)};
    --fg-elevation: #{mat.get-color-from-palette($foreground, elevation)};
    --fg-hint-text: #{mat.get-color-from-palette($foreground, hint-text)};
    --fg-secondary-text: #{mat.get-color-from-palette($foreground, secondary-text)};
    --fg-icon: #{mat.get-color-from-palette($foreground, icon)};
    --fg-icons: #{mat.get-color-from-palette($foreground, icons)};
    --fg-text: #{mat.get-color-from-palette($foreground, text)};
    --fg-slider-min: #{mat.get-color-from-palette($foreground, slider-min)};
    --fg-slider-off: #{mat.get-color-from-palette($foreground, slider-off)};
    --fg-slider-off-active: #{mat.get-color-from-palette($foreground, slider-off-active)};

    --navbar-background-color: #{mat.get-color-from-palette($background, background)};
    --navbar-text-color: #{mat.get-color-from-palette($primary, default)};
    --primary-background-color: #{get-background($theme, primary)};
    --accent-background-color: #{get-background($theme, accent)};
    --primary-color: #{mat.get-color-from-palette($primary, default)};
    --accent-color: #{mat.get-color-from-palette($accent, default)};
}

body {
    // default is light
    @include mat.all-component-themes($clash-light-theme);
    @include theme-colors($clash-light-theme);
}

body[data-theme=dark] {
    @include mat.all-component-colors($clash-dark-theme);
    @include theme-colors($clash-dark-theme);
}

.body {
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-area {
    height: calc(100% - 81px);
    overflow-y: auto;

    &.padding {
        padding: 10px 40px;
        box-sizing: border-box;
    }
}
