<button (click)="expand = !expand" class="cover" color="primary" mat-mini-fab>
    <mat-icon>add</mat-icon>
</button>
<div [class.up]="expand" class="language hidden">
    <button [matMenuTriggerFor]="language" aria-label="Change Language" mat-mini-fab>
        <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #language="matMenu">
        <button (click)="configs.language = 'en'; translate.use('en')" mat-menu-item>English</button>
        <button (click)="configs.language = 'zh'; translate.use('zh')" mat-menu-item>中文</button>
    </mat-menu>
</div>
<div [class.up]="expand" class="theme hidden">
    <button (click)="toggle_theme()" aria-label="Change Mode" mat-mini-fab>
        <ng-container [ngSwitch]="configs.theme">
            <mat-icon *ngSwitchCase="'dark'">light_mode</mat-icon>
            <mat-icon *ngSwitchCase="'light'">dark_mode</mat-icon>
            <mat-icon *ngSwitchDefault>error</mat-icon>
        </ng-container>
    </button>
</div>
<div [class.up]="expand" class="close hidden">
    <button aria-label="Change Mode" color="warn" (click)="close$.next(null)" mat-mini-fab>
        <mat-icon>close</mat-icon>
    </button>
</div>

